@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 300;
    src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2'),
        url('../fonts/poppins-v24-latin-300.woff') format('woff'),
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2'),
        url('../fonts/poppins-v24-latin-regular.woff') format('woff'),
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 600;
    src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2'),
        url('../fonts/poppins-v24-latin-600.woff') format('woff'),
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 900;
    src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2'),
        url('../fonts/poppins-v24-latin-900.woff') format('woff'),
}

:root{
    --color-primary-dark: #31261a;
    --color-primary-light: #faf4ea;
    --color-brand: #819B57;
}

body {
    color: var(--color-primary-dark);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

address{
    font-style: normal;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.section {
    padding: 48px 0;
}

.container{
    margin: 0 auto;
    max-width: 1288px;
    width: 100%;
    padding: 0 24px;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.button {
    color: var(--color-primary-light);
    background: var(--color-brand);
    border: 2px solid var(--color-brand);
    font-weight: 600;
    border-radius: 8px;
    padding: 16px 32px;
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
    color: var(--color-brand);
}

.link{
    color: var(--color-primary-light);
    text-decoration: none;
}

.link:hover{
    color: var(--color-brand);
    text-decoration: none;
}

/* Header */

.header{
    background-color: bisque;
}

.header-container{
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav{
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
}

.header-menu{
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
}

 /* Hero Section */

 .hero-container{
    display: flex;
 }

.hero-section{
    padding: 272px;
    /* margin: 0 auto;
    width: 1440px;
    height: 798px; */
}

.h1 {
    color: blanchedalmond;
}

.hero-title{
    margin-bottom: 0;
    color: var(--color-primary-light);
    font-weight: 900;
    font-style: normal;
    text-align: center;
    font-size: 128px;
    font-style: italic;
}

.hero-title span{
    color: var(--color-brand);
}

/* Advantages Section */

.advanteges-section {
    padding: 16px;
    background-color: var(--color-brand);
}

.advanteges-list {
    color: var(--color-primary-light);
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.advanteges-item {
    font-size: 20px;
    font-weight: 300;
}

.section-title {
    color: var(--color-primary-dark);
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}

.section-title .accent {
    color: var(--color-primary-dark);
}

/* Traditionals Section */
.traditionals-section {
    padding-top: 96px;
}

.traditions-container{
    display: flex;
    justify-content: space-between;
}

.traditions-content{
    max-width: 720px;
}

.traditionals-title{
    margin-bottom: 42px;
}

.tranditions-text span {
    text-transform: uppercase;
    color: var(--color-brand);
    font-weight: 600;
}

.tranditions-text.limited{
    max-width: 340px;
}

/* Chefs Section */

.chefs-title{
    margin-bottom: 80px;
}

.chef-title{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
}

/* Formats Section */

.format-list{
    display: flex;
    gap: 20px;
}

.format-card{
    padding: 24px;
    border: 1px solid lightgray;
    border-radius: 16px;
}

.formats-title {
    margin-bottom: 80px;
}

.format-title {
    font-size: 24px;
    font-weight: 600;
}

.formats-text{
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;

}

/* Final Section */

.contacts-section{
    margin-bottom: 16px;
}

/* Footer */

.address-link{
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.address-link:hover{
    color: var(--color-brand);
}

.address-copyright{
    font-size: 14px;
}

.img{
    width: 300px;
}