@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 300;
    src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2'),
        url('../fonts/poppins-v24-latin-300.woff') format('woff'),
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2'),
        url('../fonts/poppins-v24-latin-regular.woff') format('woff'),
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 600;
    src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2'),
        url('../fonts/poppins-v24-latin-600.woff') format('woff'),
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 900;
    src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2'),
        url('../fonts/poppins-v24-latin-900.woff') format('woff'),
}

:root{
    --color-primary-dark: #31261a;
    --color-primary-light: #faf4ea;
    --color-brand-dark: #465929;
    --color-brand-normal: #819B57;
    --color-brand-light: #cfcfbc;
}

*::after,
*::before{
    box-sizing: border-box;
}

body {
    color: var(--color-primary-dark);
    font-family: "Poppins", sans-serif;
    background-color: var(--color-primary-light);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

address{
    font-style: normal;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.section {
    padding: 48px 0;
}

.container{
    margin: 0 auto;
    max-width: 1288px;
    width: 100%;
    padding: 0 24px;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.button {
    color: var(--color-primary-light);
    background: var(--color-brand-normal);
    border: 2px solid var(--color-brand-normal);
    font-weight: 600;
    border-radius: 8px;
    padding: 16px 32px;
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
    color: var(--color-brand-normal);
}

.link{
    color: var(--color-primary-light);
    text-decoration: none;
    transition: 0.3s;
}

.link:hover{
    color: var(--color-brand-normal);
    text-decoration: none;
}

/* Header */

.header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.header-container{
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav{
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
}

.header-menu{
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
}

 /* Hero Section */
/* Hero section */
.hero-section {
    padding: 272px 0;
    background-image: linear-gradient(102.76deg,
            rgba(18, 18, 17, 0.78) 2.03%,
            rgba(18, 18, 17, 0.6) 58.46%,
            rgba(18, 18, 17, 0) 90.36%),
        url('../images/main.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

 .hero-container{
    display: flex;
 }

.hero-section{
    padding: 272px;
    /* margin: 0 auto;
    width: 1440px;
    height: 798px; */
}

.h1 {
    color: blanchedalmond;
}

.hero-title{
    margin-bottom: 0;
    color: var(--color-primary-light);
    font-weight: 900;
    font-style: normal;
    text-align: center;
    font-size: 128px;
    font-style: italic;
}

.hero-title span{
    color: var(--color-brand-normal);
}

/* Advantages Section */

.advanteges-section {
    padding: 16px;
    background-color: var(--color-brand-normal);
}

.advanteges-list {
    color: var(--color-primary-light);
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.advanteges-item {
    font-size: 20px;
    font-weight: 300;
}

.section-title {
    color: var(--color-primary-dark);
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}

.section-title.centered{
    text-align: center;
}

.section-title .accent {
    color: var(--color-primary-dark);
}

/* Traditionals Section */
.traditionals-section {
    padding-top: 96px;
}

.traditions-container{
    display: flex;
    justify-content: space-between;
}

.traditions-content{
    max-width: 720px;
}

.traditionals-title{
    margin-bottom: 42px;
}

.tranditions-text span {
    text-transform: uppercase;
    color: var(--color-brand-normal);
    font-weight: 600;
}

.tranditions-text.limited{
    max-width: 340px;
}

/* Chefs Section */

.chefs-title {
    position: relative;
    width: 520px;
    margin: 0px auto 80px;
}

.chefs-title span {
    color: var(--color-brand-normal);
}

.chefs-title::before {
    display: block;
    width: 352px;
    border: 2px solid var(--color-brand-dark);
    content: '';
}

.chefs-title::before {
    position: absolute;
    left: -360px;
    bottom: 0;
}

.chefs-title::after {
    display: block;
    width: 352px;
    border: 2px solid var(--color-brand-dark);
    content: '';
}

.chefs-title::after {
    position: absolute;
    right: -360px;
    bottom: 0;
}

.chefs-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.chefs-item {
    flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
    display: flex;
    gap: 30px;
}

.chef-image {
    border-radius: 4px 4px 4px 200px;
    width: 268px;
    height: 445px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-brand-dark);
}

.chef-title{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
}

/* Formats Section */

.format-list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    /* transition: background-image; */
}

.format-item{
    flex-basis: calc((100% - 40px) / 3);
}

.format-card{
    background-image: linear-gradient(
        180deg, 
        rgba(49, 38, 26, 0) 55.21%, 
        rgba(49, 38, 26, 0.71) 72.92%, 
        var(--color-primary-dark) 100%);
    padding: 24px;
    border: 1px solid lightgray;
    border-radius: 16px;
    height: 444px;
    transition: transform 1.1s;
}

.format-card:hover {
    transform: scale(1.05);
}

.format-item:nth-child(1){
    background-image: url('../images/1.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}
.format-item:nth-child(2) {
    background-image: url('../images/2.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}
.format-item:nth-child(3) {
    background-image: url('../images/3.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.formats-title {
    margin-bottom: 80px;
}

.formats-container {
    display: flex;
    gap: 32px;
    align-items: center;
}

.coursel-button:first-child{
    transform: rotate(180deg);
}

.format-title {
    font-size: 24px;
    font-weight: 600;
}

.formats-text{
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;

}

.coursel-button {
    width: 44px;
    align-items: center;
    justify-content: center;
    height: 44px;
    padding: 0;
    display: flex;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--color-primary-dark);
    flex-shrink: 0;
}

.coursel-button:hover {
    background-color: var(--color-primary-dark);
    fill: var(--color-primary-light);
    cursor: pointer;
}

.couresl-arrow {
    width: 16px;
    height: 16px;
    fill: var(--color-primary-dark);
}

.couresl-arrow:hover {
    fill: var(--color-primary-light);
}

/* Final Section */

.contact-section{
    padding-bottom: 96px;
}

.contact-container {
    display: flex;
    gap: 32px;
}

.contact-map {
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
}

/* Footer */

.footer-container {
    display: flex;
    gap: 20px;
}

.footer-nav,
.footer-address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}

.footer-logo,
.footer-menu {
    flex-grow: 1;
}

.address-list,
.address-info {
    flex-grow: 1;
}

.address-link{
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.address-link:hover{
    color: var(--color-brand-normal);
}

.address-copyright{
    font-size: 14px;
}

.footer{
    background-image: url('../images/footer.png');
    background-color: var(--color-primary-light);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 32px 0;
    position: relative;
}

.footer::before{
    width: 180px;
    height: 120px;
    left: 0;
    bottom: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(../images/bulka.png);
    content: '';
}

.footer::after {
    width: 380px;
    height: 190px;
    right: 0;
    bottom: 0;
    position: absolute;
    background-repeat: no-repeat;    
    background-image: url(../images/dvibulki.png);
    content: '';
}

.address-icon {
    width: 32px;
    height: 32px;
    fill: var(--color-brand-light);
}

.address-icon:hover {
    fill: var(--color-brand-normal);
}

.footer-logo,
.img {
    width: 300px;
}

/* Modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: relative;
    width: 100%;
    max-width: 580px;
    height: 100%;
    max-height: 580px;
    padding: 128px;
    background-color: var(--color-primary-light);
    border-radius: 32px;
    overflow-y: auto;
}

.modal-btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
}

.form-field {
    position: relative;
    margin-bottom: 32px;
}

.form-label {
    position: absolute;
    top: 16px;
    left: 42px;
    font-size: 16px;
}

.form-input {
    padding: 16px 42px;
    width: 100%;
    border: 1px solid var(--color-brand-dark);
    border-radius: 8px;
    background-color: transparent;
}

.form-input:focus {
    border-color: var(--color-brand-normal);
    outline: none;
}

.form-input::placeholder {
    color: var(--color-secondary-dark);
    font-size: 16px;
    line-height: 1.17;
}

.form-input:focus::placeholder {
    color: var(--color-primary-dark);
}

.form-button {
    display: block;
    margin: 0 auto 24px;
}

.form-terms {
    margin: 0 auto;
    max-width: 220px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
}

.form-terms-link {
    color: var(--color-primary-dark);
    text-underline-offset: 2px;
}